# terraform related files/folders
terraform.tfvars
terraform.tfstate.backup*
.terraform/

# context specific directories
.gcp/

# secrets
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/envs/oss/infra/11-secrets.yml
/envs/oss/ca.crt
/envs/oss/client.crt
/envs/oss/client.key
/envs/oss/infra/22-alertmanager-config.yml

/fuzz-*/

/lint-project.sh

misspell*
staticcheck*
/bin/
/coverage.txt

/kubeval
/kubeval-*.tar.gz

/images/infra-idx/nginx/cache/
/images/infra-idx/nginx/run/

/images/certspotter/data/

/tests/mysql-backups/*.sql
!/tests/mysql-backups/customers-check.sql
!/tests/mysql-backups/paygate-check.sql
!/tests/mysql-backups/watchman-check.sql

/envs/dev/terraform.tfstate*

/envs/oss/apps/13-ofac-secrets.yml
/envs/oss/apps/16-customers-secrets.yml
/envs/oss/apps/12-paygate-secrets.yml
/envs/oss/apps/13-watchman-secrets.yml
/envs/oss/sales/10-corteza-secrets.yml
/envs/oss/sales/10-mysql-secrets.yml
/envs/oss/sales/20-stargazers-secrets.yml
/envs/oss/apps/12-paygate-mysql-secrets.yml
/envs/oss/apps/slack-secrets.yml
/envs/oss/sales/30-slackin-secrets.yml
/envs/oss/apps/database-backups.yml
/envs/oss/terraform.tfvars
