# terraform related files/folders
terraform.tfvars
terraform.tfstate.backup*
.terraform/

# context specific directories
.gcp/

# secrets
envs/*/client.crt
envs/*/client.key
envs/*/ca.crt
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/envs/sbx/infra/11-secrets.yml
