# terraform related files/folders
terraform.tfvars
terraform.tfstate.backup*
.terraform/

# context specific directories
.gcp/

# secrets
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/envs/prod/infra/11-secrets.yml
/envs/prod/ca.crt
/envs/prod/client.crt
/envs/prod/client.key
/envs/prod/infra/22-alertmanager-config.yml
